.mainScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #192226;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
